{%load static %}
  <style>
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.flex-wrapper > div {
  width: 100%;
  max-width: 25%;
  padding: 10px;

}

@media only screen and (max-width: 600px) {
  .flex-wrapper > div {
    max-width: 50%;
  }
}
@media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
    }

.img-container {
   position: relative;
   overflow:hidden;
   height: 150px;
}

.img-container img {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  object-fit: cover;
}
  </style>
    <!-- Section START -->
        <div class="row">
          <div class="col-md-12">
            <!-- Title -->
            <div class="mb-4 d-md-flex justify-content-between align-items-center">
              <h2 class="m-0"><i class="bi bi-megaphone"></i> </h2>

            </div>
            <div class="tiny-slider arrow-hover arrow-blur arrow-dark arrow-round">
              <div class="tiny-slider-inner"
                data-autoplay="true"
                data-hoverpause="true"
                data-gutter="24"
                data-arrow="true"
                data-dots="false"
                data-items-xl="6"
                data-items-md="4"
                data-items-sm="3.5"
                data-items-xs="2.2">

                <!-- Card item START -->
              
                {% for p in products %}             
                <div class="item">
                  <div class="pad15">
                    <div className="pad15">
                      <a href="{{ p.get_absolute_url }}">
                       <div class="img-container">
                        {% for ima in p.productimage_set.all %}
                        <img src="{{ ima.image.url }}" alt="cover">
                        {% endfor %}
                      </div>
                      <div class="pad15">
                    <h5 class="card-title"><a href="{{ p.get_absolute_url }}"> {{ p.title }}</a> </h5>
                    <ul class="product_price list-unstyled">
                     
                      <li class="new_price">Kes: {{ p.price }}</li>
                  </ul>
                  </div>
                      </a>
                  </div>
                  </div>
              </div>
              {% endfor %}
      </div>
    </div>
  </div>
</div>
</div>
</section>


