{% extends "best.html" %}
{% load django_bootstrap_breadcrumbs %}

{% load static %}


{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb category "category.views.product_list_category" category.title %}
{% endblock %}


{% block content %}


<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.flex-wrapper > div {
  width: 100%;
  max-width: 25%;
  padding: 10px;
 
}

@media only screen and (max-width: 600px) {
  .flex-wrapper > div {
    max-width: 50%;
  }
}
@media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
    }
    
.img-container {
   position: relative;
   overflow:hidden;
   height: 150px;
}

.img-container img {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  object-fit: cover
}
  </style>


<style>
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
  </style>

<body>
 



<!------ Include the above in your HEAD tag 
<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="category.html">Category</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Sub-category</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
 xs-3 col-lg-3 sm-3
     <div class="col-xs-3 sm-3 mb-lg-12">

    font-family:'Roboto', sans-serif;
    background:#dff707;

<div class="container"> ---------->
  <div class="container">

  </div>
  <div class="container">
        <div class="flex-wrapper">
          {% for product in products %}
       
          <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                  <a href="{{ product.get_absolute_url }}"> 
                  <div class="img-container">
                    {% for image in product.productimage_set.all %}
                    <img src="{{ image.image.url }}" alt="cover"/>
                    {% endfor %}
                  </div>
                </a>



                </div>

                <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star disable"></li>
                </ul>
                <div class="product-content">
                    <h5 class="title"><a href="{{ product.get_absolute_url }}">  {{ product.title }}</a></h5>
                    <div class="price">Kes: {{ product.price }}
                        <span>Kes: {{ product.old_price }}</span>
                    </div>
                    <a class="add-to-cart" href="{% url "add_to_basket" %}?product_id={{ product.id }}">  Add To Cart</a>
                </div>
            </div>
        </div>
        {% empty %}
       
          <h2>No products yet. </h2>
            {% endfor %}

        </div>
        {% if products.paginator.num_pages > 1 %}
        {% include 'courses/course/_pagination.html' %}
        {% endif %}
      </div>

      <!--to be deleted too
    <div class="row">
  
        <div class="col">
            <div class="row">   
                <div class="col-12">

                    <nav aria-label="...">
                        <ul class="pagination">
                            <li class="page-item disabled">
                              
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active">
                                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>
  </div>
  {% if products.paginator.num_pages > 1 %}
  {% include 'courses/course/_pagination.html' with items=products %}
  {% endif %} -->
  
{% endblock %}