
div.product_thumbnail{
    text-align:center; 
    float:left; 
    width:150px; 
    height:150px;
    }
/* product page styles */ 
div.product_image{
    float:left;
    padding:0 10px 10px 0; 
}

